@media (max-width: 1000px){

    .cont2::before{

        display: none;

    }

    .textcont3::before{

        display: none;

    }
    .cont3{

        border-bottom: solid 10px #9b9b9b;

    }
    .cont4{

        border-bottom: solid 10px #464646;

    }
    .textcont4::before{
        display: none;
    }

    .textcont5::before{
        display: none;
    }
    .textformat{
        padding: 10% !important;
        
    }
    .textformat2{
        padding: 10% !important;
        
    }
}

body{

    font-family: 'Poppins', sans-serif;
}

header {
    background: linear-gradient(black,rgba(0, 0, 0, 0.7),rgba(0, 0, 0,0.01));
    box-sizing: border-box;
    transition: .3s;
}

header.black{

    background: rgba(0, 0, 0, 0.8);
}



header ul li a{

    color: #e9e9e9 !important;
    transition: .3s;
}

header ul li a:hover{

    color: #ffffff !important;

}

header.black ul li a{

    color: #ffffff;
}

.animation-esq{
    
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
    height: 80vh;
    

}

.animation-dir{
    opacity: 0;
    transform: translate3d(100px, 0,0);
    transition: .3s;
    width: calc(100% - 100px);
    height: 80vh;
}



.animation-on{
    transition: .4s;
    opacity: 1;
    transform: translate3d(0,0,0);
    width: 100%;
    
}

.textformat{

    font-family: 'roboto'; 
    padding-top: 30%;
    padding-left: 8%;

}
.textformat2{

    font-family: 'roboto'; 
    padding-top: 30%;
    padding-right: 15%;

}



.cont1{
    background-image: url(../img/fundo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 90vh;
    padding: 5%;
    padding-bottom: 20%;

}

.cont1 h1{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    padding-top: 10%;

}

.cont2{ 
  background: linear-gradient(to top,#525252,#c2c2c2) ;
  min-height: 66vh;  
  color: #000000;
  padding-bottom: 3%;

}
.cont2::before{
    content: '';
    width: 100%;
    height: 24vh;
    
    position: absolute;
    background: linear-gradient(#525252,#e4e4e4);
    bottom: -3%;
    transform: skewY(-5deg);
}
.textcont2{
    background: #e4e4e4;
    padding-top: 10%;
}

.cont3{

    background: linear-gradient(to top,#1a1a1a,#c7c7c7 40%);
    color: #ffffff;
    min-height: 80vh;

}

.textcont3{
    padding-left: 10%;

}

.textcont3::before{
    
    content: '';
    width: 20%;
    height: calc(100%);
    position: absolute;
    background:  linear-gradient(to top,#1a1a1a,#c7c7c7 40%);
    left: -9%;
    transform: skewX(-10deg);

}


.cont4{

    min-height: 80vh;
    background: linear-gradient(to top,#1a1a1a,#ececec 40%);
    color: #ffffff;

}

.textcont4::before{

    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top,#1a1a1a,#ececec 40%);
    right: -9%;
    transform: skewX(10deg);
    z-index: 1;

}

.cont5{
    
    background: linear-gradient(to top, #ff87ff 4%, #fdfdfd 70%);
    min-height: 80vh;

}

.textcont5::before{
    
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top,#ff87ff 4%, #fdfdfd 70%);
    left: -10%;
    transform: skewX(-10deg);


}

.cont6{

    min-height: 80vh;
    background-image: url(../img/mulher2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

}
.cont6-black{
    background: rgba(0, 0, 0, 0.7);
    min-height: 80vh;
    padding-top: 10%;
    font-family: 'roboto';       
}
.cont6-black h1::after{

    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: #ff12ff;
    margin: 10px auto;


}
.listas{

    background: #222;
    min-height: 50vh;

}

.navitem{
    filter: opacity(80%);
    color: #ffffff !important;
    
}

.navitem:hover{
    color: #ffffff !important;
    transition: .3s;
    filter: opacity(100%);

}

footer{

    background: #111111;
    color: #ffffff;

}